In [5]:
def splitCSVLine(line):
    currentWord = ""
    currentList = []
    quotationOpen = False

    for char in line:
        if char == '"':
            quotationOpen = not(quotationOpen)


        if char == "," and not quotationOpen:
            currentList.append(currentWord)
            currentWord = ""
        else:
            currentWord += char
    return currentList


path = '/Users/mai/Desktop/school_material/python/LEGO Data/sets.csv'
with open(path, 'r') as file:
    lines = file.readlines()
legoset = []


for line in lines:
    strippedLine = line.strip()
    row = splitCSVLine(strippedLine)
    legoset.append(row)

In [6]:
# how many sets have been released during the year 2000
header = legoset[0]
data = legoset[1:]

year_index = header.index('Year')
set_count_2000 = 0

for row in data:
        if int(row[year_index]) == 2000:
           # print(row)
            set_count_2000+= 1

set_count_2000

384

In [9]:
# Which theme has more sets - City or Star Wars?
city_count = 0
starwars_count = 0
theme = header.index('Theme') 
for row in data:
    if row[theme] == 'City':
        city_count += 1
    elif row[theme] == 'Star Wars':
        starwars_count += 1
if city_count > starwars_count:
    print("City theme has more sets than Star Wars theme. ")
else :
    print("Starwars theme has more sets than City theme.")

City theme has more sets than Star Wars theme.

770

In [13]:
# What is the average (mean) amount of pieces in a set (excluding sets without pieces)?
quantity= 0
count=0
index_pieces= legoset[0].index('Pieces')
for row in legoset[1:]:
    val = row[index_pieces]
    if val != ''  and val != '0.0':
        quantity += float(val)
        count +=1

print (f" the average of pieaces {quantity / count}")

 the average of pieaces 238.15334197088637

In [161]:
# What are the top 10 themes containing the most sets?

# getting a unique list of the themes 
theme_index = legoset[0].index('Theme')
all_themes = [sublist[theme_index] for sublist in legoset]

# setting all the themes count to 0 
theme_counts = {theme: 0 for theme in set(all_themes)}
# looping to count of sets for each unique theme 
for row in legoset[1:]:
    theme_counts[row[theme_index]] += 1

#ztheme_counts_list = list(theme_counts.items())

# sorting to get the top 10
def pickSecondElement(lst):
    return lst[1]
sorted_themes = sorted(theme_counts_list, key=pickSecondElement, reverse=True)
top_10_themes_dict = dict(sorted_themes[0:10])

# printing the results 
print("Top 10 Themes Containing the most sets are: ")
for key,value in top_10_themes_dict.items():
    print(f" The Theme {key} which has {value} sets.")

Top 10 Themes Containing the most sets are:
 The Theme Duplo which has 1278 sets.
 The Theme Gear which has 1232 sets.
 The Theme Collectable Minifigures which has 804 sets.
 The Theme City which has 770 sets.
 The Theme Star Wars which has 723 sets.
 The Theme Town which has 648 sets.
 The Theme Creator which has 528 sets.
 The Theme Technic which has 481 sets.
 The Theme Friends which has 429 sets.
 The Theme Basic which has 402 sets.

In [117]:
theme_counts

{'The LEGO Batman Movie': 33,
 'Super Mario': 139,
 'Boost': 1,
 'Discovery': 6,
 'Castle': 278,
 'Pirates of the Caribbean': 15,
 'Legends of Chima': 124,
 'The LEGO Movie': 23,
 'Powered Up': 4,
 'Agents': 13,
 'Miscellaneous': 85,
 'Power Functions': 18,
 'Creator': 528,
 'Mixels': 81,
 'Island Xtreme Stunts': 13,
 'Star Wars': 723,
 'Books': 142,
 'The Lone Ranger': 8,
 'Sports': 134,
 'Speed Champions': 29,
 'Aquazone': 28,
 'Overwatch': 8,
 'Alpha Team': 32,
 'Trains': 136,
 'Xtra': 11,
 'DC Super Hero Girls': 11,
 'Advanced models': 35,
 'Collectable Minifigures': 804,
 'Monkie Kid': 15,
 'Dreamzzz': 12,
 'Pirates': 82,
 'Spybotics': 4,
 'Gear': 1232,
 'Universal Building Set': 13,
 'Icons': 52,
 'Exo-Force': 44,
 'Explore': 128,
 'PreSchool': 14,
 'Bionicle': 381,
 'Vikings': 7,
 'Classic': 84,
 'Znap': 19,
 'Theme': 0,
 'Space': 323,
 'Dino Attack': 5,
 'Quatro': 10,
 'Belville': 82,
 'Studios': 55,
 'Harry Potter': 123,
 'Technic': 481,
 'Jack Stone': 25,
 'Toy Story': 15,
 'World Racers': 9,
 'Rock Raiders': 16,
 'Elves': 35,
 'Basic': 402,
 'Trolls World Tour': 9,
 'HERO Factory': 104,
 'The Simpsons': 2,
 'Dino 2010': 6,
 'Nexo Knights': 64,
 'LEGO Games': 2,
 'Dimensions': 68,
 'The Hobbit': 18,
 'Educational': 1,
 'Education': 249,
 'Scala': 73,
 'Minions: The Rise of Gru': 4,
 'Mickey Mouse': 5,
 'Assorted': 11,
 'Cars': 27,
 'Ben 10: Alien Force': 6,
 'Avatar The Last Airbender': 2,
 'Hidden Side': 23,
 'Unikitty': 23,
 'Time Cruisers': 9,
 'Baby': 44,
 'Bricks and More': 68,
 'Minitalia': 2,
 'Aqua Raiders': 7,
 'Ninjago': 342,
 'Atlantis': 24,
 'Marvel Super Heroes': 129,
 'Creator Expert': 35,
 'Minecraft': 100,
 "Pharaoh's Quest": 9,
 'Duplo': 1278,
 'Action Wheelers': 9,
 'World City': 38,
 'Town': 648,
 'SpongeBob SquarePants': 14,
 'Dacta': 162,
 'Serious Play': 24,
 'Dots': 81,
 "Gabby's Dollhouse": 4,
 '4 Juniors': 24,
 'Boats': 12,
 'Western': 20,
 'Teenage Mutant Ninja Turtles': 16,
 'Scooby-Doo': 6,
 'Mindstorms': 68,
 'The LEGO Ninjago Movie': 24,
 'The Powerpuff Girls': 2,
 'Vidiyo': 43,
 'Clikits': 85,
 'Ideas': 56,
 'Brick Sketches': 8,
 'Hobby Set': 9,
 'Life of George': 2,
 'Disney': 137,
 'The LEGO Movie 2': 32,
 'Samsonite': 3,
 'Dinosaurs': 12,
 'Dino': 7,
 'DUPLO': 7,
 'Fusion': 4,
 'LEGO Universe': 2,
 'Art': 15,
 'Adventurers': 72,
 'Factory': 7,
 'Prince of Persia': 6,
 'BrickHeadz': 142,
 'Batman': 15,
 'Freestyle': 75,
 'Service Packs': 386,
 'Stranger Things': 1,
 'Homemaker': 13,
 'Indiana Jones': 22,
 'LEGOLAND': 63,
 'Building Set with People': 24,
 'Monster Fighters': 12,
 'The Lord of the Rings': 14,
 'Games': 44,
 'Seasonal': 157,
 'Primo': 57,
 'Power Miners': 22,
 'Racers': 248,
 'Architecture': 59,
 'FORMA': 4,
 'Promotional': 295,
 'Spider-Man': 11,
 'Make and Create': 44,
 'Bulk Bricks': 141,
 'Jurassic World': 36,
 'Avatar': 9,
 'Galidor': 20,
 'Collectable minifigures': 1,
 'Master Builder Academy': 16,
 'Ultra Agents': 14,
 'City': 770,
 'Friends': 429,
 'Fabuland': 107,
 'Sonic the Hedgehog': 5,
 'Model Team': 16,
 'DC Comics Super Heroes': 64,
 'Juniors': 67}

In [2]:
import pandas as pd
data = pd.read_csv('/Users/mai/Desktop/school_material/python/LEGO Data/sets.csv')
df = pd.DataFrame(data)
df.head()

,Set_ID,Name,Year,Theme,Theme_Group,Subtheme,Category,Packaging,Num_Instructions,Availability,Pieces,Minifigures,Owned,Rating,USD_MSRP,Total_Quantity,Current_Price
0,75-1,PreSchool Set,1975,PreSchool,Pre-school,NaN,Normal,{Not specified},0,{Not specified},16.0,NaN,10.0,0.0,NaN,NaN,NaN
1,77-1,PreSchool Set,1975,PreSchool,Pre-school,NaN,Normal,{Not specified},0,{Not specified},20.0,NaN,11.0,0.0,NaN,NaN,NaN
2,077-1,Pre-School Set,1975,Duplo,Pre-school,NaN,Normal,{Not specified},0,{Not specified},21.0,NaN,10.0,0.0,NaN,0.0,NaN
3,78-1,PreSchool Set,1975,PreSchool,Pre-school,NaN,Normal,{Not specified},0,{Not specified},32.0,NaN,8.0,0.0,NaN,NaN,NaN
4,78-3,Basic Set,1975,Samsonite,Vintage,Basic set,Normal,Box,0,{Not specified},330.0,NaN,10.0,0.0,NaN,0.0,NaN

In [139]:
Nsets_2000 = len(df[df['Year']== 2000])
Nsets_2000

384

In [4]:
df.loc[df['Year']== 2000]['Set_ID'].count()

384

In [160]:
city_sets = df.loc[df['Theme']== 'City']['Set_ID'].count()
city_sets
starwars_sets = df.loc[df['Theme']== 'Star Wars']['Set_ID'].count()
print(f"the theme city contains {city_sets}, and the theme starwars contains {starwars_sets}")

the theme city contains 770, and the theme starwars contains 723

In [153]:
import csv

file_path = '/Users/mai/Desktop/school_material/python/LEGO Data/sets.csv'

# Open the CSV file and create a CSV reader
with open(file_path, 'r') as file:
    legoset= csv.reader(file)

In [162]:
header = legoset[0]
data = legoset[1:]

year_index = header.index('Year')
set_count_2000 = 0

for row in data:
    if row[year_index] == '2000':
        set_count_2000 += 1

print(set_count_2000)

384

In [156]:
import csv

with open(file_path, 'r') as file:
    csv_reader = csv.reader(file)

legoset = list(csv_reader)

header = legoset[0]
data = legoset[1:]

year_index = header.index('Year')
set_count_2000 = 0

for row in data:
    if row[year_index] == '2000':
        set_count_2000 += 1

print(set_count_2000)

384